@model Maquillaje.WebUI.Models.CategoriaViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>tbCategorias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cate_Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cate_Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cate_FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cate_FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cate_FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cate_FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cate_Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cate_Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cate_UsuCreacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cate_UsuCreacionNavigation.user_Contrasena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cate_UsuModificacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cate_UsuModificacionNavigation.user_Contrasena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.cate_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
