@model IEnumerable<Maquillaje.Entities.Entities.VW_gral_tbMunicipios_VW>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h1>Municipios</h1></div>
    <div class="card-body">
        <p>
            <a class="btn btn-secondary" onclick="AbrirModalCreate()">Nuevo</a>
        </p>
        <table class="table table-bordered table-hover" id="DataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.muni_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.muni_Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.depa_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.depa_Nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.muni_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.muni_Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.depa_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.depa_Nombre)
                        </td>
                        <td>
                            <button type="button" id="btnEditar" class="btn btn-warning" onclick="AbrirModalEdit('@item.muni_id,@item.depa_Id,@item.muni_Nombre')">Editar</button> |
                            <a asp-action="Details" asp-route-id="@item.muni_id" class="btn btn-dark">Detalles</a> |
                            <button class="btn btn-danger" id="btnEliminar" onclick="eliminar('@item.muni_id')">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@if (ViewBag.Script != null)
{
    <script>
        $(document).ready(function () {
            @Html.Raw(ViewBag.Script)
        });
    </script>

    ViewBag.Script = null;
}

<script>
    $(document).ready(function () {
        $('#menuGeneral').addClass('active');
        /*$('#clientesItem').addClass('active');*/
        $('#subMenuGeneral').addClass('show');
    });
</script>

@Html.Partial("_Modal_Create", new Maquillaje.Entities.Entities.VW_gral_tbMunicipios_VW())

@Html.Partial("_Modal_Edit", new Maquillaje.Entities.Entities.VW_gral_tbMunicipios_VW())

@Html.Partial("_Modal_Delete", new Maquillaje.Entities.Entities.VW_gral_tbMunicipios_VW())