@model IEnumerable<Maquillaje.Entities.Entities.VW_tbFacturasDetalles_List>

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.fact_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.prod_Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.factdeta_Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.factdeta_Precio)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.fact_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prod_Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.factdeta_Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.factdeta_Precio)
                    </td>
                    @*<td>
                        <a asp-action="Edit" asp-route-id="@item.factdeta_Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.factdeta_Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.factdeta_Id">Delete</a>
                    </td>*@
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


