@model Maquillaje.WebUI.Models.FacturaViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2>Nueva factura</h2>

            </div>
            <div class="card-body">
                @*<div class="d-flex justify-content-end mb-2">
                        <a asp-action="Index">Regresar al index</a>
                    </div>*@
                <div>
                    <form asp-action="Create" id="formCreate">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="clie_Id" class="control-label"></label>
                                <select asp-for="clie_Id" id="clie_Id" class="form-control" asp-items="ViewBag.clie_Id">
                                    <option>--Seleccione un cliente--</option>
                                </select>
                                <label id="clie_IdValidation" name="clie_IdValidation" class="text-danger control-label" hidden>El campo Cliente es obligatorio</label>
                            </div>
                            <div class="form-group mt-3">
                                <label asp-for="meto_Id" class="control-label"></label>
                                <select asp-for="meto_Id" id="meto_Id" class="form-control" asp-items="ViewBag.meto_Id">
                                    <option>--Seleccione un método de pago--</option>
                                </select>
                                <label id="meto_IdValidation" name="meto_IdValidation" class="text-danger control-label" hidden>El campo Método de Pago es obligatorio</label>
                            </div>
                            <div class="form-group mt-3">
                                <input type="button" value="Siguiente" id="btnSiguiente" class="btn btn-info" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        @Html.Partial("_CreateDetalles", new Maquillaje.WebUI.Models.FacturaDetalleViewModel())
        @Html.Partial("_Delete", new Maquillaje.WebUI.Models.FacturaDetalleViewModel())
    </div>

    <div class="row mt-4">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-hover" id="DataTable">
                    <thead>
                        <tr>
                            <th>N° Factura</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Precio total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detalle in ViewBag.detalles)
                        {
                        <tr>
                            <td>@detalle.fact_Id</td>
                            <td>@detalle.prod_Nombre</td>
                            <td>@detalle.factdeta_Cantidad</td>
                            <td>@detalle.factdeta_Precio</td>
                            <td>@detalle.factdeta_PrecioTotal</td>
                            <td>
                                <a @*asp-route-id="@detalle.fact_Id"*@ id="btnEditarDetalle" class="btn btn-warning">Editar</a>
                                <a onclick="eliminar(@detalle.factdeta_Id, @detalle.fact_Id)" asp-route-id="@detalle.fact_Id" id="btnEliminarDetalle" class="btn btn-danger">Borrar</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $("#prod_Id").prop("disabled", true);
    $("#factdeta_Cantidad").prop("disabled", true);
    $("#factdeta_PrecioShow").prop("disabled", true);
    $("#cate").prop("disabled", true);
    $("#btnContinuar").prop("disabled", true);
    $("#btnFinalizar").prop("disabled", true);


    $("#btnSiguiente").click(function () {

        console.log("dio click mi rey");

        if (!($("#clie_Id").val() > 0)) {
            $("#clie_IdValidation").prop("hidden", false);
            console.log("cliente");
        } else {
            $("#clie_IdValidation").prop("hidden", true);
        }

        if (!($("#meto_Id").val() > 0)) {
            $("#meto_IdValidation").prop("hidden", false);
            console.log("metodo");
        } else {
            $("#meto_IdValidation").prop("hidden", true);
        }

        if ($("#meto_Id").val() > 0 && $("#clie_Id").val() > 0) {

            sessionStorage.setItem("inserta", "jaja");
            sessionStorage.setItem("metodo", $("#meto_Id").val());
            sessionStorage.setItem("cliente", $("#clie_Id").val());

            $("#formCreate").submit();
        }
    });

    $(document).ready(function () {
        console.log(sessionStorage.getItem("inserta"));

        if (sessionStorage.getItem("inserta") != null) {
            $("#clie_Id").prop("disabled", true);
            $("#clie_Id").val(sessionStorage.getItem("cliente"));
            $("#meto_Id").prop("disabled", true);
            $("#meto_Id").val(sessionStorage.getItem("metodo"));
            $("#empe_Id").prop("disabled", true);
            $("#btnSiguiente").prop("disabled", true);

            $("#prod_Id").prop("disabled", false);
            $("#factdeta_Cantidad").prop("disabled", false);
            $("#cate").prop("disabled", false);
            $("#btnContinuar").prop("disabled", false);
            $("#btnFinalizar").prop("disabled", false);
        }
    })
</script>


