@model IEnumerable<Maquillaje.WebUI.Models.EmpleadoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empe_Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empe_Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empe_Identidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empe_Sexo)
            </th>
<<<<<<< Updated upstream
            <th>Acciones</th>
=======
            <th>
                @Html.DisplayNameFor(model => model.empe_Telefono)
            </th>
            <th></th>
>>>>>>> Stashed changes
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.empe_Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empe_Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empe_Identidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empe_Sexo)
            </td>
            <td>
<<<<<<< Updated upstream
=======
                @Html.DisplayFor(modelItem => item.empe_Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empe_Telefono)
            </td>

            <td>
>>>>>>> Stashed changes
                <a asp-action="Edit" asp-route-id="@item.empe_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.empe_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.empe_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
