@model IEnumerable<Maquillaje.Entities.Entities.VW_maqu_tbSucursales_VW>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h1>Sucursales</h1></div>
    <div class="card-body">
        <p>
            <a class="btn btn-secondary" onclick="AbrirModalCreate()">Nuevo</a>
        </p>
        <table class="table table-bordered table-hover" id="DataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.sucu_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sucu_Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sucu_DireccionExacta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.depa_Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.muni_Nombre)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.sucu_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sucu_Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sucu_DireccionExacta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.depa_Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.muni_Nombre)
                        </td>
                        <td>
                            <button type="button" id="btnEditar" class="btn btn-warning" onclick="AbrirModalEdit('@item.sucu_Id,@item.sucu_Descripcion,@item.muni_Id,@item.sucu_DireccionExacta,@item.depa_Id')">Editar</button> |
                            <a asp-action="Details" asp-route-id="@item.sucu_Id" class="btn btn-dark">Detalles</a> |
                            <button class="btn btn-danger" id="btnEliminar" onclick="eliminar(@item.sucu_Id)">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@Html.Partial("_Modal_Create", new Maquillaje.Entities.Entities.VW_maqu_tbSucursales_VW())

@Html.Partial("_Modal_Edit", new Maquillaje.Entities.Entities.VW_maqu_tbSucursales_VW())

@Html.Partial("_Modal_Delete", new Maquillaje.Entities.Entities.VW_maqu_tbSucursales_VW())

@if (ViewBag.Script != null)
{
    <script>
        $(document).ready(function () {
            @Html.Raw(ViewBag.Script)
        });
    </script>

    ViewBag.Script = null;
}

<script>
    $(document).ready(function () {
        $('#menuMaquillaje').addClass('active');
        $('#sucursalesItem').addClass('active');
        $('#subMenuMaquillaje').addClass('show');
    });
</script>
