@model IEnumerable<Maquillaje.Entities.Entities.VW_maqu_tbSucursales_VW>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h1>Sucursales</h1></div>
    <div class="card-body">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.sucu_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sucu_Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sucu_DireccionExacta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.depa_Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.muni_Nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.sucu_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sucu_Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sucu_DireccionExacta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.depa_Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.muni_Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sucu_Estado)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.sucu_Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.sucu_Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.sucu_Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

