@model IEnumerable<Maquillaje.Entities.Entities.VW_gral_tbDepartamentos_VW>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h1>Index</h1></div>
    <div class="card-body">
        <p>
            <a class="btn btn-secondary" onclick="AbrirModalCreate()">Nuevo</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.depa_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.depa_Nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.depa_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.depa_Nombre)
                        </td>
                        <td>
                            <button type="button" id="btnEditar" class="btn btn-warning" onclick="AbrirModalEdit('@item.depa_Id,@item.depa_Nombre')">Editar</button> |
                            <a asp-action="Details" asp-route-id="@item.depa_Id" class="btn btn-dark">Detalles</a> |
                            <button class="btn btn-danger" id="btnEliminar" onclick="eliminar(@item.depa_Id)">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@Html.Partial("_Modal_Create", new Maquillaje.Entities.Entities.VW_gral_tbDepartamentos_VW())

@*@Html.Partial("_Modal_Edit", new Maquillaje.WebUI.Models.CategoriaViewModel())

    @Html.Partial("_Modal_Delete", new Maquillaje.WebUI.Models.CategoriaViewModel())*@
